@using WebApplication2.Models;

@model Kulturno_sportski_centar.Areas.ModulAdministrator.Models.DrzavaEditModelView
   @{  ViewBag.Title = "Država";}
<h1>Dodaj/Uredi državu</h1>


@using (Html.BeginForm("Spremi", "Drzava"))
{



    <div class="form-group">
        @Html.HiddenFor(model => model.Id)
    </div>

    <div class="form-group">
        <label>Naziv</label> 
        @Html.TextBoxFor(model => model.Naziv, new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Naziv)
    </div>
    <div class="form-group">
        <label>Oznaka</label> 
       @Html.TextBoxFor(model => model.Oznaka, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Oznaka)
    </div>

    <div>
        @Html.ValidationSummary()
    </div>

    <input type="submit" value="Spremi" class="btn btn-success"/>
    }
