@using WebApplication2.Models;
@{
    //Layout = null;
   
    ViewBag.Title = "Regija";
}

@model Kulturno_sportski_centar.Areas.ModulAdministrator.Models.RegijaEditViewModel

<!DOCTYPE html>


<h1>Dodaj/Uredi regiju</h1>


@using (Html.BeginForm("Spremi", "Regija"))
{
    @Html.HiddenFor(model => model.Id)
<div class="form-group">
    <label>Naziv</label>
    @Html.TextBoxFor(model=>model.Naziv, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Naziv)
</div>
<div class="form-group">
    <label>Oznaka</label>
    @Html.TextBoxFor(model => model.Oznaka, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Oznaka)
</div>


<div class="form-group">
<label>Država</label>
    @Html.DropDownListFor(model => model.DrzavaId, Model.Drzave,new {@class="form-control"})
   
</div>
<input type="submit" value="Spremi" class="btn btn-success"/>
    @Html.ValidationSummary();
}


